* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/admin_dashboard.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/header.jsp -text
WebContent/index.jsp -text
WebContent/local_nav.jsp -text
WebContent/mapping/mapper.jsp -text
WebContent/mapping/submit.jsp -text
WebContent/menu.jsp -text
WebContent/resources/anime.min.js -text
WebContent/resources/cd2h -text
WebContent/resources/css -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/index.css -text
WebContent/resources/jdbc_environment.jsp -text
WebContent/resources/layout(old).css -text
WebContent/resources/layout.css -text
WebContent/resources/slick.min.css -text
WebContent/resources/style.css -text
WebContent/resources/style_original.css -text
WebContent/resources/styles.css -text
/pom.xml -text
